<div id="default_home_body">
	<ul class="tabs">
		<li data-id="about" id="about-tab" class="tab active">About</li>
		<li data-id="requirements" id="requirements-tab" class="tab">Requirements</li>
	</ul>	
	<div class="tabs_wrapper">
		<div id="about-tab-body" class="tab_body">
			<p>
				We are just a bunch a good people looking to have some fun. <br/>				
				We are working on building up a core "Clan Wars" teams, with the hopes of competing during Campaigns, and some day claiming some land on the Sandbox.<br/>
				If you are looking just to relax and have fun feel free to message us. <br/>
				Membership in the Clan is not required to join the site, you can always join as an Ambassador for you clan.
			</p>
			<p>								
				We do have teamspeak<br/>
				Server: 199.167.19.50:9170<br/>
				Password: pancakes<br/>
				Feel free to drop in and say, and maybe stick around and do some platooning.
			</p>
		</div>
		<div id="requirements-tab-body" class="tab_body" style="display:none;">
			<p>To Join the Clan we ask the following:</p>
			<ul id="requirements">
				<li>You install and use TeamSpeak3 (even if just to listen and text)</li>
				<li>You are at least 17 years of age (we don't want you getting grounded in the middle of a battle)</li>
				<li>You have at least One Tier 6 or higher tank (makes it easier to platoon with others, and lets us know you can play)</li>
				<li>You play at least 3days a week, perferable during PrimeTime (7pm-10pm local time), and you say 'hi' when you login</li>		
			</ul>
		</div>
	</div>
		
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
