<% provide(:title, 'About Us') %> 
<h1>About Us</h1>
<div class="about_text">
	<h2><%= ALLIANCE_NAME %></h2>
	<p>
		<%= ALLIANCE_NAME %> is a union of like minded clans.  
		Currently we share a common Team Speak Server and enjoy platooning together.
		As with most alliances, if you pick a fight with one you'll have to face the wraith of all.
		Additionally, as with most alliances, some of the clans have more prestige than others and each has different requirements for joining.
		Look around at the different clans, and if one seems like a fit then go ahead and apply.
	</p>
</div>
