<% provide(:title, 'About Us') %> 
<h1>About Us</h1>
<p>
	<span>FEAR THE FALLEN</span> is a guild dedicated to helping out each other's Elder Scroll experiance.<br>
	This site provides features for planning adventures, as wells as functioning as a Knowledge Lore to help with crafting.
</p>
<p>
	The original core players are also heavily active on <%= link_to "World Of Tanks", "http://worldoftanks.com/", target: "_blank" %><br/>
	There's a link to the clan's World of Tank page on the bottom left.
</p>
