<% provide(:title, 'About Us') %> 
<h1>About Us</h1>
<div class="about_text">
	<p>
		Just a bunch a good people looking to have some fun. <br/>
		We are willing to take any player at any level of skill. <br/>
		One day we are looking to enter "Clan Wars", and maybe even win some land. <br/>
		So if you are looking just to relax and have fun feel free to message us. <br/>
		We do have teamspeak, so feel free to drop us a line.
	</p>
</div>
