<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  In game contact @telitus with questions and concerns about the guild <br>
  
  For issue or suggestion with the website please send them to
  <a href="mailto:ftf-eso@outlook.com">ftf-eso@outlook.com</a>
</p>