<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div>
	<h3>Team Speak Server</h3>
	<span class="field">Server Address:</span> <span class="value">199.167.19.50:9170</span><br/>
	<span class="field">Password:</span> <span class="value">pancakes</span><br/>
	
	<h3>Official World of Tanks Clan Page</h3>
	<%= link_to "[FTF] Fear the Fallen", 'http://worldoftanks.com/community/clans/1000007730-FTF/', target: "_blank" %>
</div>