<% provide(:title, 'Help') %> 
<h1>Help</h1>
<p>
	<a href="http://worldoftanks.com/encyclopedia/vehicles/">TANKOPEDIA</a><br>
	<a href="http://wiki.worldoftanks.com/Main_Page">WORLD OF TANK WIKI</a><br>
	<a href="http://www.wotpro.com/">WOT PRO WIKI</a><br>
	<a href="http://wotlabs.net/">WOT LABS</a><br>
	
	<a href="http://www.youtube.com/user/TheRiisingSun">TheRiisingSun YouTube Training Videos</a>
</p>>
