<% provide(:title, 'Help') %> 
<h1>Help</h1>
<p>
	<a href="http://worldoftanks.com/encyclopedia/vehicles/">TANKOPEDIA</a><br>
	<a href="http://wiki.worldoftanks.com/Main_Page">WORLD OF TANK WIKI</a>
</p>
