<% provide(:title, 'Help') %> 
<h1>Help</h1>
<div id="help">
	<div>
		<h2>Helpful Links</h2>
		<a href="http://worldoftanks.com/encyclopedia/vehicles/">TANKOPEDIA</a><br>
		<a href="http://wiki.worldoftanks.com/Main_Page">WORLD OF TANK WIKI</a><br>
		<a href="http://www.wotpro.com/">WOT PRO WIKI</a><br>
		<a href="http://wotlabs.net/">WOT LABS</a><br>
		<a href="http://www.youtube.com/user/TheRiisingSun">TheRiisingSun YouTube Training Videos</a>
	</div>
	<div>
		<h2>Team Speak Server</h2>
		<span class="field">Server Address:</span> <span class="value">199.167.19.50:9170</span><br/>
		<span class="field">Password:</span> <span class="value">pancakes</span><br/>
	</div>
</div>
