<div class="center hero-unit">
	<h1> <%= link_to "[FTF]", "http://worldoftanks.com/community/clans/1000007730-FTF/", id: "clan_link", target: "_blank" %>
	Fear The Fallen </h1>

	<h2> Don't Fear Death As It is Only The Beginning </h2>
  	<% unless signed_in? %>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	<% end %>
</div>