<div class="center hero-unit">
	<h1><%= ALLIANCE_NAME %> </h1>
	<% unless signed_in? %>
	<!-- @TODO put in some copy about the site -->
	<%= link_to "Join #{ALLIANCE_NAME}", signup_path, class: "btn btn-large btn-primary" %>	
	<% end %>
</div>
