<div class="center hero-unit">
  <h1><a href="http://worldoftanks.com/community/clans/1000007730-FTF/" id="clan_link">[FTF]</a>Fear The Fallen</h1>

  <h2>
    Don't Fear Death As It is Only The Beginning
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
