<% provide(:title, 'Lore Library') %> 
<h1>Lore Library</h1>
<p>
	This page will contain links to the game lore.
	<ul>
		<li>Alchemy</li>
		<li>Black Smithing</li>
		<li>Wood Working</li>
		<li>Cloth Making</li>
		<li>Provisioning</li>
		<li>Enchanting</li>
		<li>Quests</li>
	</ul>
</p>
