<% provide(:title, 'Mods') %> 
<h1>Mods</h1>
	<div class="column">
		<%= link_to "One Click XVM Installer", "https://forum.worldoftanks.eu/index.php?/topic/196435-xvm-updater-24-one-click-installupdate/", target: "_blank" %><br/>
		<%= link_to "White Death By Artasan", "http://www.curse.com/wot-mods/worldoftanks/artasans_white_death", target: "_blank" %><br/>
		<%= link_to "J1mBo's Crosshair Mod", "http://www.curse.com/wot-mods/worldoftanks/j1mb0s-reticles", target: "_blank" %><br/>
		<%= link_to "Multilined Tank Carousel", "http://wot-shot.com/multilined-tank-carousel/"%>
	</div>
