<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %></h1>
    <p>
      	Your application for <%= @clan.name %> has been removed. <br/>
      	This generally results when you have applied to another clan. <br/>
      	Only the last application remains on file.      
    </p>
  </body>
</html>