<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Fear The Fallen, <%= @user.wot_name %></h1>
    <p>
      You account on fearthefallen.herokuapp.com has been approved, <br/>
      you now have an active status and all the privileges that entitles. <br />
      Please explore the Clan Site and feel free to leave comments and suggestions.
    </p>
    <p>
    	If you don't already have teamspeak, please download and install it. <br/>
    	<a href="http://www.instantteamspeak.com//teamspeak-download.php" target='_blank'> TeamSpeak Download </a> <br/>
    	Even if you don't have a microphone teamspeak will be valuable in coorinating battles.<br/>
    </p>
    <p>	
    	The Clan Server Address: 199.167.19.50:9170 <br/ >
		Password: pancakes<br />
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
    	If you are not currently in a clan you can expect an official invite to the clan soon. <br/>
    	If you are already in a clan, or recently left one, after the cool period your invite will be sent. <br/>
    	Make sure to keep an eye out for the invite and accept it as soon as possible.
    </p>
    <p>
    	Certain areas of the site might not be accessible to members that are not official in the clan.    	
    </p>
  </body>
</html>