<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Fear The Fallen, <%= @user.wot_name %></h1>
    <p>
      You account on fearthefallen.herokuapp.com has been approved,
      you now have an active status and all the privileges that entitles.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>