<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.wot_name %>, you have been added to the clan war team.</h1>
    <p>
		Congrats on being added to the clan war team, maybe you bring glory to the clan and profits to your account
    </p>
  </body>
</html>