<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.wot_name %>, you have been demoted to <%= @role %>.</h1>
    <p>
   		reason: <br/>
      <%= @reason %>
    </p>
  </body>
</html>