<%= @user.name %> your password has been reset</h1>
===============================================

<%= @user.name %>, 

    	If you did not reset your password, then your account has been compromised.
    	If that is the case, then please contact us and we'll work to restore your account.

		Visit your profile, <%= user_url @user, host: CLAN_WEBSITE %>
