<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.wot_name %>, you have been promoted to <%= @role %>.</h1>
    <p>
		Congrats on your new role within the Clan!
    </p>
    <% if @reason %>
    <p>
    	<%= @reason %>
   	</p>
    <% end %>
  </body>
</html>