<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone has requested a password reset for <%= @user.name %></h1>
    <p>
   	  <%= @user.name %>, if you did not request a password reset then ignore this email.
    </p>
    <p>
		If you did request a password, then follow the following link within 6hrs.
    </p>
    <%= link_to "Reset Form", reset_password_url(@user, host: ALLIANCE_WEBSITE) + "?token=#{@token}" %>
  </body>
</html>