<li id="fat-menu" class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Locker Room <b class="caret"></b> </a>
	<ul class="dropdown-menu">
		<li><%= link_to "Helpful Links", main_app.links_path %></li>
		<li><%= link_to "Mods", main_app.mods_path %></li>
		<li><%= link_to "Schedule", main_app.schedule_path %></li>
		<li><%= link_to "Message Board", main_app.messageboard_path  %></li>
	</ul>
</li>