<tr class="rune_row">
	<td><%= essence_rune.name %></td>
	<td><%= essence_rune.translation %></td>
	<td> &nbsp; </td>
	<td> &nbsp; </td>
	<td> Essence </td>
	<td> &nbsp; </td>
	<td> &nbsp; </td>
	<% if current_user && current_user.has_title_with_name?('Enchanting') %>
		<td><%= link_to "edit", edit_essence_rune_path(essence_rune) %></td>
		<td><%= link_to "delete", essence_rune, method: :delete, data: { confirm: "You sure?" } %></td>
	<% end %>
</tr>
