<li>
  <div class="gravatar">
  	<%= gravatar_for user, size: 52 %>
  </div>
  <%= image_tag("http://wotlabs.net/sig/na/#{user.wot_name}/signature.png", alt: 'win7 data') %>
  <%= link_to user.wot_name, user %> 
  
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>