<% provide(:title, @user.wot_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 80 %>
        <%= @user.wot_name %>
      </h1>
    </section>
  </aside>
</div>