<% provide(:title, 'Enchanting') %> 
<div id="book">
	<h2 class="banner">Enchanting</h2>
	<ul class="chapters">
		<li>
			<%= link_to "Runes", runes_path %>			
		</li>	
		<li>
			<%= link_to "Glyphs", '#' %>
		</li>
	</ul>
	<div id="library_link">
		<%= link_to "Lore Library", library_path%>
	</div>
</div>
