<% provide(:title, 'Wood Working') %> 
<div id="book">
	<h2 class="banner">Wood Working</h2>
	<ul class="chapters">

	</ul>
	<div id="library_link">
		<%= link_to "Lore Library", library_path%>
	</div>
</div>
