// Place all the styles related to the Clans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clan_body {
  min-height: 500px; 
}

.clan_body.guest {
  #static_video {
    margin-top: -25px;
  } 
}

#default_home_body {
  position: relative;
  margin-bottom: -90px;
  top: -50px;
  .tabs {
    .tab {
        float: left;
        list-style: none;
        padding: 10px 15px 10px;
        background: silver;
        font-weight: normal;
        border-radius: 10px 10px 0 0;
        margin-right: 5px;
        cursor: pointer;
    }
    
    .tab.active {
        background: white;
        font-weight: bold;
    }
  }
  
  #requirements {
    list-style: square;
    text-align: left;
    padding: 10px 0;
  }
  
  .tabs_wrapper {
    clear: both;
    width: 890px;
    margin: 0 auto 10px;
    background: white;
    border-radius: 0 5px 5px 0;
    
    p {
      text-align: left;
      padding: 10px;
      font-size: 18px;
    }
  }
}

#twitch_logo {
  img {
    height: 32px;
    margin-right: 10px;
  }
  
}

.admin-section {
  background-color: rgba(255,255,255,0.5);
  min-height: 150px;
  padding: 5px;
  width: 750px;
  margin: 0 auto 20px;
  
  h2 {
    font-size: 1.6em;
    letter-spacing: 0px;
    color: ivory;  
    margin: 10px 0 5px;  
  }
  
  a {
    font-size: 1.2em;
    color: navy;
  }
  
  .admin-stat-label {
    font-size: 1.2em;
  }
  .admin-stat-value {
    font-size: 1.2em;
    font-weight: bold;
  }
}
