@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 85px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 9px 0;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.nav {
  padding-top: 40px;
}

.navbar-inverse .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #2f2f2f, #4f4f4f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f2f2f), to(#4f4f4f));
  background-image: -webkit-linear-gradient(top, #2f2f2f, #4f4f4f);
  background-image: -o-linear-gradient(top, #2f2f2f, #4f4f4f);
  background-image: linear-gradient(to bottom, #2f2f2f, #4f4f4f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2f2f2f', endColorstr='#FF4f4f4f', GradientType=0);
  border-color: #252525;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #adadad;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  #wot_support {
    position: relative;
    text-decoration: none;
  }
  .b-b4r_text_position {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    padding: 57px 10px 10px 10px;
    background: url(image_path('bg-text-img.png')) no-repeat;
  }
  .b-b4r_header {
    font-size: 16px;
    color: #DCDCDC;
    padding: 0;
    margin: 0 0 5px 0;
    text-decoration: none;
    font-family: Arial Narrow,arial,sans-serif;
    display: block;
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Filter Bar */
.filter_bar {
  margin-bottom: 15px;
}

/* Action Buttons */
.action_buttons {
  padding: 10px 0 5px;
  .btn {
    margin-right: 10px;
  }
}
