@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$shadowGray: #969696;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 85px;
  background-image: url(image_path('t-34-85-2560x1600.jpg'));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background: transparent;
  h1 {
    margin-bottom: 10px;
    color: black;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

h3 {
  text-shadow: 1px 1px 2px white;
}

a {
  text-shadow: 1px 1px 1px $shadowGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.span8 {
  background: white;
  padding: 10px 20px;
  margin: 0 auto;
  float: none;
}

.span6 {
  background: white;
  padding: 10px;
  margin: 0 auto;
  float: none;
}

.font12px {
  font-size: 12px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 9px 0;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.new_tournament {
  font-style: italic;
}

.nav {
  padding-top: 40px;
}

.navbar-inverse .navbar-inner {
  background: transparent;
  border: none;
  box-shadow: none;
}

.navbar .container {
  width: 1000px;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #2f2f2f, #4f4f4f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f2f2f), to(#4f4f4f));
  background-image: -webkit-linear-gradient(top, #2f2f2f, #4f4f4f);
  background-image: -o-linear-gradient(top, #2f2f2f, #4f4f4f);
  background-image: linear-gradient(to bottom, #2f2f2f, #4f4f4f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2f2f2f', endColorstr='#FF4f4f4f', GradientType=0);
  border-color: #252525;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #adadad;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: black;
    text-shadow: 1px 1px 1px $shadowGray;    
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    background: rgba(255,255,255,0.25);
    padding-right: 10px;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  #wot_support {
    position: relative;
    text-decoration: none;
  }
  .b-b4r_text_position {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    padding: 57px 10px 10px 10px;
    background: url(image_path('bg-text-img.png')) no-repeat;
  }
  .b-b4r_header {
    font-size: 16px;
    color: #DCDCDC;
    padding: 0;
    margin: 0 0 5px 0;
    text-decoration: none;
    font-family: Arial Narrow,arial,sans-serif;
    display: block;
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.8em;
      text-align: left;
      letter-spacing: 2px;
      margin-bottom: 3px;
      margin-top: 0px;
      text-shadow: 1px 1px 25px white;
      font-weight: normal;
      color: black;
    }
    .role {
      line-height: 32px;
      text-shadow: 1px 0px 25px white;
      letter-spacing: 1.5px;
      color: black;
      font-size: 16px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  input[type="text"] {
    height: 30px !important;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  background: white;
  padding: 5px 10px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.pagination ul > .disabled > a {
  background-color: white;
}

.hero-unit {
  min-height:180px;
}

/* Disqus Chat */
#disqus_thread {
  background-color: white;
  -moz-box-shadow:    0px 0px 10px 1px #eee;
  -webkit-box-shadow: 0px 0px 10px 1px #eee;
  box-shadow:         0px 0px 10px 1px #eee;
  padding: 15px;
  height: 300px;
  overflow: auto;
  width: 910px;
  margin: 0 auto;
}

.header_wrapper {
  width: 910px;
  background-color: white;
  padding: 5px 15px 0px;
  position: fixed;
  z-index: 10;
  top: 80px;
}

#message_board {
  margin-top: 82px;
  #disqus_thread {
    height: 100%;
    -moz-box-shadow:    0px 0px 0px 0px white;
    -webkit-box-shadow: 0px 0px 0px 0px white;
    box-shadow:         0px 0px 0px 0px white;
  }
}

/* Filter Bar */
.filter_bar {
  margin-bottom: 15px;
}

/* Action Buttons */
.action_buttons {
  padding: 10px 0 5px;
  .btn {
    margin-right: 10px;
  }
}

/* Forms */
.form_block {
  display: inline-block;
  margin-right: 40px;
  .width200 {
    width: 200px;
  }
  .width120 {
    width: 120px;
  }
  
  select {
    height: 35px;
  }
}

.mce-tinymce.mce-container.mce-panel {
  margin-bottom: 10px;
}

/* Time Picker */
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }