@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$shadowGray: #969696;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: 100%;  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.content_wrapper {
  min-height: 510px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: black;
    text-shadow: 1px 1px 1px $shadowGray;    
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    background: rgba(255,255,255,0.25);
    padding-right: 10px;    
    li {
      float: left;
      margin-left: 10px;
    }
  }
  .logo {
    text-decoration: none;
    float: left;
    margin-right: 10px;
  }
  .logo_label {
    font-size: 16px;
    color: #DCDCDC;
    padding: 0;
    text-decoration: none;
    font-family: Arial Narrow,arial,sans-serif;
    display: block;
    position: relative;
    top: -90px;
    margin: 0 auto;
  }    
}

#wot_clan {
  width: 150px;
}

#eso_support {
  width: 75px;
}

#eso_support2 {
  top: -40px;
  width: 86px;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.content {
  display: block;
}

.timestamp {
  color: $grayLight;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

#characters_remaining {
  position: relative;
  top: -70px;
  left: 120px;

  span {
    display: inline;
  }
}

/* TeamSpeak */
#teamspeak_box {
  width: 170px;
  background-color: white;
  position: fixed;
  padding: 5px 0px 0px 5px;
  top: 160px;
  right: 0;
  #teamspeak_server {

  }
  p {
    padding: 0 5px;
    font-size: 1em;
    line-height: 1.4em;
  }
  .ts_bold {
    font-weight: bold;
  }
  #teamspeak_ie {
    margin-top: 100px;
  }
}