/* mixins, variables, etc. */

$grayLight: #999999;
$grayLighter: #eeeeee;

.rune_selectors {
  select {
  width: 120px;
  margin-right: 25px;
  }
}

.runes_wrapper {
  margin: 10px auto 0;
  background: white;
  padding: 10px;
}

.runes {
  width: 100%;
  text-align: center;
  tr {
    border-bottom: 1px solid $grayLight;
  }
  th {
    font-size: 1.4em;
    padding: 5px 0;
  }
  th,td {
    width: 125px;
  }
  tr.rune_row:nth-child(even) {background: $grayLighter}
  tr.rune_row:nth-child(odd) {background: white}
}
