// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#clan_link {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.field,
.value {
  text-shadow: 1px 0px 10px white;
  font-weight: bold;
}

#videos {
  width: 940px;
  height: 300px;
  overflow: auto;
  background: white;
  margin: 0 auto 25px;
  padding: 10px 0;
  .video_thumbnail_row {
    clear:both;
    .video_link {
      float: left;
      width: 225px;
      height: 150px;
      text-align: center;
      padding: 10px 5px;
    }
  }
}

#player_wrapper {
  width: 1000px;
  padding: 0 160px 30px;
}

.about_text {
  text-shadow: 1px 1px 2px white;
  font-size: 16px;
  color: black;
  background: rgba(255,255,255,0.20);
  padding: 5px 10px;
  width: 636px;
  margin: auto;
}

/* Help Page */
.column {
  display: inline-table;
  margin-right: 50px; 
}