// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note {
  text-align: center;
  margin: -10px 0 10px;
  span {
    font-size: 12px;
    font-style: italic;
  }
}

label span.note {
  font-size: 12px;
  font-style: italic;
}
