// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  margin: 5px auto 25px;
}

.note {
  text-align: center;
  margin: -10px 0 10px;
  span {
    font-size: 12px;
    font-style: italic;
  }
  .warning {
    text-shadow: 0px 0px 10px black;
    font-weight: bold;
    color: white;
  }
}

label span.note {
  font-size: 12px;
  font-style: italic;
}

.gravatar {
  float: left;
  margin-right: 10px;
  text-align: center;
  a.gravatar_link {
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    } 
  }
}

li .gravatar {
  width: 64px;
  text-align: center;
}

.user_summary {
  float: left;
  width: 300px;
  padding: 5px;
}

#user_stats {
  text-align: left;
  vertical-align: middle;
  background: white;
  width: 500px;
  margin-top: 10px;
  .category {
    font-weight: bold;
    padding: 0 5px 0 10px;
  }
}

.user_stats_box {
  width: 100px;
  color: white;
  text-align:center;
  th {
    font-size: 8px;
  }
  td {
    font-size: 18px;
    padding: 0 0 2px;    
  }
}

.user_tanks_breakout {
  width: 100px;
  color: white;
  text-align:center;  
  .types td {
    vertical-align: bottom;
    font-size: 8px;
    background-color: rgb(70,70,70);
    height: 25px;
    padding: 0;
    div {
      float: left;
      width: 20px;
    }
  }
  .type_labels td {
    font-size: 8px;
    position: relative;
    top: -10px;
    line-height: 0;
    padding: 0; 
  }  
}

.profile_last_online {
  clear: both;
  background-color: rgba(255,255,255,0.2);
  text-shadow: 1px 1px 25px white;
  font-weight: normal;
  color: black;
  padding: 0 3px 0 2px;
  width: 255px;
  text-align: center;
}