// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.row {
  margin: 5px auto 25px;
}

.left_col {
  float:left;
  width: 520px;
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-shadow: 1px 1px 25px white;
    font-weight: normal;
    color: black;
    background-color: rgba(255,255,255,0.2);
    padding: 5px;      
  }
  .user_titles {
    font-size: 1.4em;
  }
  
  .title_wrapper {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }  
  aside {
    width: 300px;
    section {
      padding: 10px 0;
      border-top: 1px solid $grayLighter;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      .user_name {
        font-size: 1.8em;
      }
      .user_rank {
        font-size: 1.2em;
        font-style: italic;     
      }
    }
  }
}

.right_col {
  float: right;
  width: 380px;
}


.note {
  text-align: center;
  margin: -10px 0 10px;
  span {
    font-size: 12px;
    font-style: italic;
  }
  .warning {
    text-shadow: 0px 0px 10px black;
    font-weight: bold;
    color: white;
  }
}

label span.note {
  font-size: 12px;
  font-style: italic;
}

/* Events */
.events_wrapper {
  width: 380px;
  background: white;
  padding: 10px 20px;
  margin-right: 30px;
  -moz-box-shadow:    0px 0px 10px 1px #eee;
  -webkit-box-shadow: 0px 0px 10px 1px #eee;
  box-shadow:         0px 0px 10px 1px #eee;
}

/* events */

.events {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    width: 380px;
    overflow: hidden;
  }
}
.title {
  display: block;
  word-wrap:break-word;
}

.timestamp {
  color: $grayLight;
}

.gravatar {
  float: left;
  margin-right: 10px;
}