<li id="fat-menu" class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Locker Room <b class="caret"></b> </a>
	<ul class="dropdown-menu">
		<li><%= link_to "Helpful Links", links_path %></li>
		<li><%= link_to "Mods", mods_path %></li>
		<li><%= link_to "Schedule", schedule_path %></li>
		<li><%= link_to "Message Board", messageboard_path  %></li>
	</ul>
</li>