<div id='teamspeak_box'>
	<p>
		Team Speak Server:<br>
		<span class='ts_bold'><%= CLAN_TEAMSPEAK_SERVER %></span><br>
		Password:<br> 
		<span class='ts_bold'><%= CLAN_TEAMSPEAK_PASSWORD %></span>
	</p>
	<div id="teamspeak_server">		
		<script type='text/javascript'>				
			var ts3v_url_1 = <%= @ts_status %>;
		</script>
	</div>
</div>