<% if current_user.role >= UserSoldier %>
<li id="tournament-menu" class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Tournaments <b class="caret"></b> </a>
	<ul class="dropdown-menu" data-no-turbolink>
		<li>
			<%= link_to "<Create New Tournament>", new_tournament_path, class: 'new_tournament' %>
		</li>
		<%= render @tournaments %>
	</ul>
</li>
<% end %>